---
import Footer from "../components/Footer.astro";
import Navbar from "../components/Navbar.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <Navbar />
  <main class="max-w-screen-lg mx-auto"></main>
  <Footer />
</Layout>
