---
import Card from "../components/Card.astro";
import Footer from "../components/Footer.astro";
import Navbar from "../components/Navbar.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <Navbar />
  <main class="max-w-screen-lg mx-auto p-6">
    <section id="home" class="flex flex-col">
      <article class="text-gray-950 dark:text-white text-pretty mx-auto">
        <h1 class="text-4xl md:text-6xl font-bold max-w-screen-sm">
          Welcome 👋, I'm Carlos Miguel
        </h1>
        <div class="flex flex-col gap-6 mt-8">
          <h2 class="font-bold text-xl sm:text-2xl">
            Available to help you with:
          </h2>
          <div class="flex flex-col sm:flex-row gap-4 overflow-hidden relative">
            <Card className="card">
              <div
                class="rounded-full p-4 grid place-content-center bg-blue-50 text-blue-500 dark:bg-blue-950/30 dark:text-blue-700 w-fit"
              >
                <svg
                  class="size-8"
                  fill="currentColor"
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 640 512"
                  ><path
                    d="M128 32C92.7 32 64 60.7 64 96l0 256 64 0 0-256 384 0 0 256 64 0 0-256c0-35.3-28.7-64-64-64L128 32zM19.2 384C8.6 384 0 392.6 0 403.2C0 445.6 34.4 480 76.8 480l486.4 0c42.4 0 76.8-34.4 76.8-76.8c0-10.6-8.6-19.2-19.2-19.2L19.2 384z"
                  ></path></svg
                >
              </div>
              <h2 class="font-semibold text-lg sm:text-xl md:text-2xl">
                Frontend Development
              </h2>
              <p class="text-gray-600 text-sm sm:text-base dark:text-gray-400">
                Expert in creating dynamic and responsive user interfaces using
                <span class="text-blue-500 dark:text-blue-700"
                  >Angular and Astro</span
                >. I bring your designs to life with clean, efficient, and
                maintainable code.
              </p>
            </Card>
            <Card className="card">
              <div
                class="rounded-full p-4 grid place-content-center bg-yellow-50 text-yellow-500 dark:bg-yellow-950/30 dark:text-yellow-700 w-fit"
              >
                <svg
                  class="size-8"
                  fill="currentColor"
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 512 512"
                  ><path
                    d="M64 32C28.7 32 0 60.7 0 96l0 64c0 35.3 28.7 64 64 64l384 0c35.3 0 64-28.7 64-64l0-64c0-35.3-28.7-64-64-64L64 32zm280 72a24 24 0 1 1 0 48 24 24 0 1 1 0-48zm48 24a24 24 0 1 1 48 0 24 24 0 1 1 -48 0zM64 288c-35.3 0-64 28.7-64 64l0 64c0 35.3 28.7 64 64 64l384 0c35.3 0 64-28.7 64-64l0-64c0-35.3-28.7-64-64-64L64 288zm280 72a24 24 0 1 1 0 48 24 24 0 1 1 0-48zm56 24a24 24 0 1 1 48 0 24 24 0 1 1 -48 0z"
                  ></path></svg
                >
              </div>
              <h2 class="font-semibold text-lg sm:text-xl md:text-2xl">
                Backend Development
              </h2>
              <p class="text-gray-600 text-sm sm:text-base dark:text-gray-400">
                Skilled in building robust and scalable server-side applications
                with <span class="text-yellow-500 dark:text-yellow-700"
                  >NestJS and Express</span
                >. I ensure your backend is secure, efficient, and seamlessly
                integrated with your frontend.
              </p>
            </Card>
          </div>
        </div>
      </article>
    </section>
  </main>
  <Footer />
</Layout>

<script>
  import { animate, stagger, type DOMKeyframesDefinition } from "motion";

  window.addEventListener("DOMContentLoaded", () => {
    /* Cards animation */
    const keyframes: DOMKeyframesDefinition = {
      translate: ["-100%", 0],
    };
    const animationOptions = {
      delay: stagger(0.1),
      duration: 0.5,
    };

    animate(".card", keyframes, animationOptions);
  });
</script>
