---
interface Props {
  title: string;
  body: string;
  className?: string;
}

const { title, body, className = "" } = Astro.props;

const splitClasses = className.split(" ");
---

<div
  class:list={splitClasses}
  class="card rounded-md p-6 w-full max-w-screen-xs border border-gray-300 dark:border-neutral-800 flex flex-col gap-2 bg-white shadow dark:bg-gray-950/30"
>
  <slot name="icon" />
  <h2 class="font-semibold text-lg sm:text-xl md:text-2xl">{title}</h2>
  <p class="text-gray-600 text-sm sm:text-base dark:text-gray-400">{body}</p>
</div>
